name: Prebuild SQLite assets

permissions:
  contents: read

on:
  push:
    branches:
      - custom-native-build # todo remove
  workflow_dispatch:
    inputs:
      version:
        description: "Version number for the kotlin-assets release (e.g. 0.0.1)"
        required: true
        type: string

jobs:
  compile:
    name: Compile SQLite
    timeout-minutes: 30
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - name: Set up XCode
        if: runner.os == 'macOS'
        uses: maxim-lobanov/setup-xcode@v1
      - name: Compile SQLite with Gradle
        run: |
          ./gradlew --scan internal:prebuild-binaries:compileNative
        shell: bash
      - uses: actions/upload-artifact@v5
        id: upload
        with:
          path: internal/prebuild-binaries/build/output/*
          name: kotlin-sqlite
          retention-days: 1
      - run: |
          echo "${{ steps.upload.outputs.artifact-url }}"
