name: Gradle build & test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-latest
            targets: iosSimulatorArm64Test macosArm64Test watchosSimulatorArm64Test jvmTest
          - os: ubuntu-latest
            targets: testDebugUnitTest testReleaseUnitTest jvmTest lintKotlin
          - os: windows-latest
            targets: jvmTest
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Validate Gradle Wrapper
      uses: gradle/actions/wrapper-validation@v4
    - uses: actions/cache@v4
      with:
        path: ~/.konan
        key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

    - name: Build and run tests with Gradle
      run: |
        ./gradlew \
          --scan \
          ${{ matrix.targets }}
      shell: bash

    # Credit: https://github.com/gradle/actions/issues/76#issuecomment-2007584323
    - name: Upload reports on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: report-for-${{ matrix.os }}
        path: |
          **/build/reports/
          **/build/test-results/
