name: Gradle build & test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-latest
            targets: iosSimulatorArm64Test jvmTest
          - os: ubuntu-latest
            targets: testDebugUnitTest testReleaseUnitTest jvmTest
          - os: windows-latest
            targets: jvmTest
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - uses: actions/cache@v4
      with:
        path: ~/.konan
        key: ${{ runner.os }}-${{ hashFiles('**/.lock') }}
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build and run tests with Gradle
      run: |
        ./gradlew \
          -PGITHUB_PUBLISH_TOKEN=${{ secrets.GITHUB_TOKEN }} \
          ${{ matrix.targets }}
      shell: bash